@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* --font-nunito: 'nunito', sans-serif;
    /* --font-jura: 'Jura', sans-serif; */
    --heading-font: 'Ubuntu', sans-serif;
    /* --font-itim: 'Itim', sans-serif; */
    --text-font: 'Fredoka', sans-serif;
    --primary-color1: #001A00;
    --primary-color: #00401E;
    --primary-color2: rgba(0, 64, 30, 0.511);
    --primary-color3: #1C5A1C;
    --primary-color35: #1c5a1c62;
    --secondary-color50: #FFF000;
    --secondary-color: #D3D3D3;
    --back-color-1: #EDEFF3;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #333333;
    --quaternary-color50: #3333337f;
    --quaternary-color25: #33333340;
    --dp-bg-color: #FDFFFF;
}

.hilight{
    color: var(--secondary-color50);
    font-weight: 500;
    font-family: var(--heading-font);
    font-size: 30px;
}

a {
    text-decoration: none;
}

.notch {
    display: flex;
    height: 40px;
    width: 100vw;
    background-color: var(--tertiary-color);
    align-items: center;
    justify-content: space-around;
    font-family: var(--heading-font);
    font-weight: 400;
    border-bottom: 2px solid var(--primary-color35);
    position: fixed;
    top: 0;
    padding-top: 10px;
}

.notch_container {
    position: fixed;
    width: 100%;
    z-index: 9;
}



.language {
    width: 175px;
    display: flex;
    justify-content: space-between;
}

select {
    font-family: var(--heading-font);
    font-weight: 400;
    border: none;
    outline: none;
}

.icon {
    width: 35px;
    height: 35px;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--quaternary-color50);
    margin: 0 1rem;
}

/* .screen_mode {

} */

.brand__logo img{
    border-radius: 0 0 10px 10px;
}
.nav__links a{
    color: var(--primary-color);
}
.mt-140 {
    margin-top: 140px;
}

.hero {
    width: 100%;
    height: 800px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--quaternary-color);
}

.hero__content-1 {
    width: 100vw;
    background-image: url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI@daaa9e07840a0923fd6af35122c1f63287544542/bg_img/hero_bg2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--tertiary-color);
    height: 850px;
    padding-top: 1rem;
}

.brand {
    font-family: var(--heading-font);
    font-size: 45px;
    color: var(--primary-color);
}

header {
    width: 100vw;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dp-bg-color);
    position: fixed;
    top: 40px;
    z-index: 9;
    padding: 0 2rem;
}

.brand__logo{
    align-self: first baseline;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .hamburger {
        height: 30px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    header{
        padding: 0;
    }
    .nav__links {
        flex-direction: column;
        align-items: start!important;
        width: fit-content !important;
        justify-content: space-around;
    }

    .nav__links li a{
        width: 200px;
    }

    .nav__links li:hover {
        background-color: var(--primary-color);
        transition: all 0.4s;
    }

    .nav__links li:hover>a{
        color: var(--back-color-1)!important;
        transition: all 0.4s;
    }

    .hamburger div{
        height: 5px;
        border-radius: 2px;
        width: 90%;
        background-color: var(--primary-color);
    }

    @keyframes nav_header_toggle_dwn {
        0% {
            height: 100px;
        }
        100% {
            height: 230px;
        }
        
    }
    @keyframes nav_header_toggle_up {
        0% {
            height: 230px;
        }
        100% {
            height: 100px;
        }
        
    }

    .rot45r{
        transform: rotate(45deg) translate(0px, -10px);
        transition: all 0.4s ease;
    }
    .rot45l{
        transform: rotate(-45deg) translate(0px, 10px);
        transition: all 0.4s ease;
    }

    .header_active{
        height: 230px;
        animation-name: nav_header_toggle_dwn;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    .header_inactive{
        height: 100px;
        animation-name: nav_header_toggle_up;
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    

    .nav__link_inactive {
        transform: translateX(200%);
        opacity: 0;
        height: 0;
        width: 0;
        transition: all 0.3s ease;
    }
    .nav__link_active{
        transform: translateX(-100px);
        opacity: 1;
        align-items: center;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* width: 100%; */
        transition: all 0.3s ease;
    }

    nav {
        width: 40%;
        transition: all 0.3s;
        height: 100%;
    }
}

.nav__links {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 18px;
    color: var(--quaternary-color);
}

.hero__btn {
    margin-left: 40px;
}

.hero__quote {
    width: 680px;
    font-family: var(--text-font);
    font-weight: 400;
    padding: 0 40px;
    font-size: 30px;
    margin-inline: 0;
    color: var(--quaternary-color);
}

.hero__quote b {
    color: var(--primary-color);
}

.hero__content-2 {
    width: 100vw;
    height: 655px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: -240px;
    background-image: url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI@master/bg_img/hero1_back.png");
    z-index: 2;
}

/* Products Sections */

@keyframes right_to_left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left_to_right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.left_to_right {
    animation: left_to_right 0.4s ease-out;
}

.right_to_left {
    animation: right_to_left 0.4s ease-in;
}

.right_to_left,
.left_to_right {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin: 0 auto; */
}

.product__slider {
    width: 100%;
    height: 50px;
    text-align: center;
}

.active {
    background-color: var(--primary-color);
    transition: all 0.5s;
    color: var(--dp-bg-color);
}

.product__slider h2 {
    font-weight: 600;
    font-size: 30px;
    font-family: var(--heading-font);
    padding: 1rem;
    font-size: 2.5rem;
    border-bottom: 2px solid var(--primary-color2);
}

.slide {
    font-family: var(--text-font);
    height: 50px;
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    border-left: 2px solid var(--primary-color2);
}

.slider {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--primary-color2);
}

.products__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
    padding-bottom: 4rem;
    background: var(--back-color-1);
}

.products__button {
    position: absolute;
    bottom: 50px;
    right: 5%;
}

.products {
    width: 85%;
    height: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 0 2rem 2rem;
}


/* Advertisement Section */

.advertisement {
    min-height: 100%;
    position: relative;
}

.adv_container {
    display: flex;
    background-color: var(--primary-color35);
}

.adv_video {
    position: relative;
}

.adv_video_poster {
    margin: 2rem;
    border-radius: 10px;
}

.play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play_icon:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.5s;
}

.close_button {
    position: fixed;
    right: 130px;
    top: 60px;
    z-index: 800;
    cursor: pointer;
    top: 15%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}


/* Brand Logos */

.brands_products_logo {
    text-align: center;
}

.brand_products_logo {
    margin-top: 1rem;
    font-size: 50px;
    color: var(--primary-color1);
    font-family: var(--heading-font);
}

/* Brand Logos */

.adv_quote {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 30px;
    color: var(--quaternary-color);
    margin-inline: 0;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.adv_quote h1 {
    color: var(--primary-color1);
    font-family: var(--heading-font);
    font-size: 50px;
    margin-bottom: 1rem;
    font-weight: 500;
}

/* Partners Section */

.partners-section {
    text-align: center;
    position: relative;
    min-height: 900px;
    background: transparent;
}

.partners-section::before {
    background: linear-gradient(rgba(29, 113, 49, 0.5), rgba(59, 92, 64, 0.5)), url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI@c87ffd335ed25740cd653bfb1578737216218728/bg_img/containers.avif");
    background-repeat: no-repeat;
    content: "";
    top: 0;
    left: -10px;
    bottom: 0;
    right: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}

.partners-section__title {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--quaternary-color);
    height: 80px;
}

.partners-section__content {
    width: calc(40% - 60px);
    height: 250px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: grab;
    background: var(--primary-color35);
    transition: all 0.4s;
    border: 2px solid var(--back-color-1);
    backdrop-filter: blur(10px);
}

.ps__title {
    color: var(--quaternary-color);
    font-weight: 500;
    font-family: var(--heading-font);
    font-size: 40px;
    transition: all 0.4s;
    margin-top: 1.5rem;
}

.partners-section__content :first-child {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 50px;
    color: var(--primary-color);
    transition: all 0.4s;

}

.partners-section__content:hover>.partners-section__content:first-child {
    font-size: 45px;
}

.psc_1 {
    margin-right: auto;
    position: absolute;
    left: 80px;
    top: 120px;
}

.psc_2 {
    position: absolute;
    right: 80px;
    top: 300px;
}

.psc_3 {
    margin-right: auto;
    position: absolute;
    left: 80px;
    top: 500px;
}

.psc__quote {
    opacity: 0;
    transition: all 0.4s;
    margin-top: 1rem;
    font-size: 18px;
    color: #fff;
}

.partners-section__content:hover>.psc__quote {
    opacity: 1;
}

.partners-section__content:hover>.ps__title {
    font-size: 36px;
    margin-top: 0;
}

/* Testimonials Section */

.testmonials {
    background-image: url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI@daaa9e07840a0923fd6af35122c1f63287544542/bg_img/testmonialbg.avif");
    text-align: center;
    background-repeat: no-repeat;
    background-color: var(--primary-color35);
    background-size: cover;
    padding-bottom: 2rem;
}

.testmonials__title {
    font-family: var(--heading-font);
    font-weight: 500;
    width: 80%;
    font-size: 45px;
    color: var(--primary-color1);
    height: 100px;
    margin: auto;
    margin-bottom: 2rem;
}

.testmonial_item {
    background-image: url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI/bg_img/quotebg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.tm__main {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.testm_dp_body {
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--quaternary-color);
    font-family: var(--text-font);
    font-size: 1.3rem;
    font-weight: 600;
}

.testm_dp_body img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--dp-bg-color);
}

.testmonial_item blockquote {
    width: 390px;
    color: var(--primary-color50);
    font-size: 20px;
    font-family: var(--text-font);
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1rem;
}

/* Blog Slider Section */

.our_blog_title {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 50px;
    color: var(--primary-color1);
    text-align: center;
    margin-top: 1rem;
}

.blog_slider {
    /* height: 350px; */
    margin: 2rem auto;
    width: 75%;
}

/* Footer Section */

.footer {
    background: linear-gradient(rgba(29, 113, 49, 0.5), rgba(59, 92, 64, 0.5)), url("https://cdn.jsdelivr.net/gh/repo-by-anish/image_for_DFI@daaa9e07840a0923fd6af35122c1f63287544542/bg_img/footerbg.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.fc_title {
    color: var(--back-color-1);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 30px;
}

.footer_content {
    margin: 4rem 2rem 2rem 2rem;
    padding: 2rem;
    width: 40%;
    height: 400px;
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #fdffff7f;
}

.fc__content {
    color: #fff;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fc_content_details {
    max-width: 70%;
}

.footer_copyright {
    text-align: center;
    color: var(--primary-color1);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 15px;
    padding: 1rem 0;
}

.footer_form {
    height: 100%;
    justify-content: center;
    width: 100%;
    margin: 2rem;
}

.footer_form * {
    margin-bottom: 1rem;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 17px;
}

.footer_form textarea {
    height: 80px;
}

.footer_form button {
    width: calc(85% + 1rem);
    height: 35px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.4s;
}

.footer_form button:hover {
    background-image: linear-gradient(to right, var(--secondary-color31), var(--primary-color35));
}



/* Media query */

@media screen and (max-width: 600px) {

    /* body{
        overflow-x: hidden;
    }  */

    .notch a {
        display: none;
    }

    .language {
        width: 150px;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
    }

    .language select * {
        font-size: 12px;
    }

    .hero {
        height: 100%;
    }

    .brand {
        font-size: 20px;
    }

    .hero__content-1 {
        padding: 0;
        background-size: cover;
        height: 300px;
        width: calc(100vw);
        text-align: center;
    }

    .hero__content-1 nav {
        display: none;
    }

    .hero__content-2 {
        display: none;
    }

    .hero__quote {
        color: var(--primary-color);
        font-size: 26px;
        padding: 1rem 0 0 0;
        width: fit-content;
        margin-block-start: 0;
        margin: 0 0 1rem 0;
    }

    .hero__btn {
        margin: 0;
        padding: 0;
    }

    .products {
        margin-top: 0;
        width: 100%;
    }

    .products_container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        gap: 0;
    }

    .products__content {
        min-height: 600px;
        width: 100%;
    }

    .products__button {
        bottom: 1rem;
    }

    .product_item {
        text-align: center;
    }

    .product__card__container {
        margin: auto;
    }

    .product__slider h2 {
        padding: 0.8rem;
        font-size: 20px;
    }

    .slider {
        height: 40px;
    }

    .slide {
        font-size: 12px;
        height: 36px;
        padding: 4px;
    }

    .advertisement {
        display: block;
        text-align: center;
        min-height: 400px;
    }

    .close_button {
        position: fixed;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .adv_container {
        flex-direction: column;
    }

    .adv_video_poster {
        margin: 1rem;
        width: 300px;
    }

    .adv_quote h1 {
        font-size: 30px;
        margin-bottom: 0.8rem;
    }

    .adv_quote {
        font-size: 20px;
        padding: 1.5rem;
    }

    .partners-section__title {
        font-size: 25px;
    }

    .partners-section__content {
        width: calc(60% - 40px);
        height: 150px;
    }

    .partners-section__content :first-child {
        font-size: 40px;
    }

    .overflow_x {
        overflow-x: hidden;
    }

    .partners-section {
        min-height: 800px;
    }

    .ps__title {
        font-size: 30px;
    }

    .ps__bg {
        width: 100%;
    }

    .psc__quote {
        display: none;
    }

    .psc_1 {
        top: 70px;
        left: 18%;
    }

    .psc_2 {
        top: 295px;
        left: 18%;
    }

    .psc_3 {
        top: 520px;
        left: 18%;
    }

    .testmonials__title {
        font-size: 25px;
        height: 80px;
    }

    .testmonial_item {
        height: 250px;
        width: 360px;
    }

    .testm_dp_body {
        padding: 0 1rem;
        bottom: 0;
        left: 0;
    }

    .testm_dp_body img {
        width: 75px;
        height: 75px;
    }

    .tm_name {
        font-size: 13px;
    }

    .testmonial_item blockquote {
        width: 210px;
        height: 130px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
    }

    .footer {
        height: 100%;
    }

    .footer_container {
        flex-direction: column-reverse;
        height: 100%;
    }

    .fc_title {
        font-size: 20px;
    }

    .footer_content {
        margin: 1rem auto;
        padding: 1.5rem;
        width: calc(100% - 6rem);
        height: 100%;
        border: 2px solid #fdffff7f;
    }

    .fc__content {
        padding: 10px;
        display: inline;
    }

    .footer_copyright {
        font-size: 12px;
    }

    .footer_form {
        margin: 1rem;
    }

    .footer_form * {
        height: 30px;
        font-size: 15px;
    }

    .footer_form textarea {
        height: 65px;
    }

    .footer_form button {
        height: 32px;
    }
}

/* Media query */


@media screen and (min-width: 600px) and (max-width: 850px) {

    .hero__quote {
        width: fit-content;
    }

    .slick-arrow {
        display: none !important;
    }

    .ps__bg {
        height: 100%;
    }

    .products_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .adv_container {
        flex-direction: column;
    }

    .advertisement {
        text-align: center;
    }

    .close_button {
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .adv_container {
        flex-direction: column;
    }

    .ps__title {
        font-size: 30px;
        margin-top: 0.4rem;
    }

    .partners-section {
        min-height: 790px;
    }

    .partners-section__content :first-child {
        font-size: 40px;
        /* margin-bottom: 0; */
    }

    .partners-section__content {
        width: calc(40% - 80px);
        height: 150px;
    }

    .psc_1 {
        margin-right: auto;
        position: absolute;
        left: 80px;
        top: 120px;
    }

    .psc_2 {
        position: absolute;
        right: 80px;
        top: 300px;
    }

    .psc_3 {
        margin-right: auto;
        position: absolute;
        left: 80px;
        top: 500px;
    }

    .psc__quote {
        display: none;
    }

    .testmonials__title {
        font-size: 35px;
    }

    .footer {
        height: 100%;
    }

    .fc_title {
        font-size: 24px;
    }

    .footer_container {
        flex-direction: column-reverse;
        height: 100%;
    }

    .footer_content {
        margin: 1rem auto;
        padding: 1.5rem;
        width: calc(100% - 6rem);
        border: 2px solid #fdffff7f;
    }
}

@media screen and (max-width: 450px) {
    .ps__title {
        font-size: 30px;
    }

    .psc_main {
        left: 50%;
    }

}