@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:transparent;
}
html {scroll-behavior: smooth;}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-signika);
}

.overflow_x{
  overflow-y: scroll;
  scroll-behavior: smooth;
}